<div class="behind-layer">
    <h1>WELCOME!</h1>
</div>
<div class="registration-panel">
    <div class="exit-div">
        <button class="exit-btn"></button>
    </div>
    <div>
        <div class="text-div">
            <h2>VirtualVault</h2>
            <h2>Create your free account</h2>
        </div>

    </div>
    <h2></h2>
    <form action="">
        <div class="input-fields">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter your full name...">
        </div>
        <div class="input-fields">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter your email address...">
        </div>
        <div class="input-fields">
            <label for="pass">Password</label>
            <input type="password" name="pass" placeholder="Enter your password...">
        </div>
        <div class="input-fields">
            <label for="conf-pass">Confirm Password</label>
            <input type="password" name="conf-pass" placeholder="Enter your password again...">
        </div>
        <button type="button">Register</button>
        <p>Do you have an account? Sign up</p>
    </form>
</div>